body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #F7F3DB;
}

/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #4BAE8C;
    color: white;
    padding: 20px;
    position: fixed;
}

.sidebar .logo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
}

.sidebar ul li.active {
    background: #0c7b50;
    border-radius: 5px;
}

.sidebar ul li:hover {
    background: #097E60;
    border-radius: 5px;
}

.sidebar hr {
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,.4);
    margin: 10px 0;
}

.sidebar label {
    font-size: 12px;
    margin: 8px 0;
    display: block;
    opacity: 0.8;
}

/* Top Bar */
.topbar {
    margin-left: 250px;
    height: 65px;
    background: #F8F2D7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border-bottom: 1px solid #ddd;
}

.topbar input {
    padding: 8px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.avatar {
    width: 35px;
    border-radius: 50%;
}

.top-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Content */
.content {
    margin-left: 270px;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

.card-icon {
    font-size: 30px;
}

/* Table */
.user-table {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 14px;
    text-align: left;
}

thead {
    background: #eee;
    font-weight: bold;
}

button.edit {
    background: #8DFF3C;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

button.archive {
    background: #F7C948;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}
.click-link {
    color: #0d7a54;
    font-weight: bold;
    cursor: pointer;
}
.click-link:hover {
    text-decoration: underline;
}
tr {
    cursor: pointer;
}
